@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
  margin: 0;
  width: 100%;
}

body{
  background: #02010a;
}

.contenido {
  max-width: 900px;
  margin: auto;
  width: 85%;
  animation: miAnimacion 0.5s;
}

@-webkit-keyframes miAnimacion{
  0%{
    transform: translateY(150%);
  }
  60%{
    transform: translateY(-5%);
  }
  100%{
    transform: translateY(0%);
  }
}

header {
  background: #5b7989;
  font-family: 'Dancing Script', cursive;
  color: white;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  }

#cabecera {
  width:95%;
  min-height: 100px;
  margin: auto;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#titulo {
  width: 40%;
  min-width: 300px;
}

#titulo h1 {
  font-size: 30x;
  text-shadow:
  -2px -2px 0 #02010a,
  2px -2px 0 #02010a,
  -2px 2px 0 #02010a,
  2px 2px 0 #02010a;
  text-align: center;
}

#menu {
    width: 40%;
    min-width: 200px;
    margin: 20px;
    font-size: 25px;
    float: inherit;
}

#menu nav ul{
    height: 100%;
    list-style: none;
    text-align: center;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-around;
}

#menu nav ul li {
  margin: 0px;
  padding: 0;
}

#menu nav ul li a {
  text-decoration: underline;
  color: white;
}

@media screen and (max-device-width:900px) {
  .contenido {
    width: 100%;
  }

  header {
    background: #5b7989;
    font-family: 'Dancing Script', cursive;
    color: white;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    }

  #cabecera {
    width:100%;
    min-height: 100px;
    margin: auto;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #titulo {
    width: 100%;
    min-width: 400px;
    margin:auto;
  }

  #menu {
      width: 100%;
      min-width: 300px;
      font-size: 20px;
      margin: 15px auto;
      padding: 0;
  }

  #menu nav ul{
      height: 100%;
      list-style: none;
      text-align: center;
      margin: auto;
      padding: 0;
      float: none;

  }
  #menu nav ul li {
    margin: 0px;
    padding: 0;
  }

  #menu nav ul li a {
    text-decoration: underline;
    color: white;
  }

}

@media screen and (max-device-width:500px) {

  .contenido {
    width: 100%;
  }

  #cabecera {
    min-height: 50px;
  }

  #titulo {
    width: 100%;
    min-width: 150px;
    margin:auto;
  }

 #titulo h1 {
   font-size: 25px;
   margin: 15px auto;
  }

  #menu {
      width: 100%;
      min-width: 200px;
      font-size: 20px;
      margin: 10px auto;
  }

  #menu nav ul{
      height: 100%;
      list-style: none;
      text-align: center;
      margin: auto;
      padding: 0;
      float: none;

  }

  #menu nav ul li {
    margin: 0px;
    padding: 0;
  }

  #menu nav ul li a {
    text-decoration: underline;
    color: white;
  }
}

img {
  box-shadow: 2px 2px 2px #02010a;
}
