
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */